* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background-color: black;
}

.left {
    width: 24vw;
}

.right {
    padding-left: 30px;
    width: 74vw;
    border-radius: 5px;
    background: linear-gradient(180deg, #00f1fe6b, rgba(255, 255, 255, 0.085), rgba(255, 255, 255, 0.085), rgba(255, 255, 255, 0.085));
}

.navbar {
    grid-column: 1/3;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.logo {
    font-size: 56px;
    font-weight: 800;
    letter-spacing: 2px;
    background: linear-gradient(135deg, #00f2fe, #4facfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    width: 50px;
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-color: rgb(40, 39, 39);
}

.searchbar input {
    padding: 2px 65px 2px 2px;
    color: white;
    background-color: transparent;
    border: none;
    min-width: 250px;
}

.searchbar input:focus {
    outline: none;
}

.searchbar input::placeholder {
    color: #b3b3b3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.search {
    gap: 7px;
    /* margin-left: 190px; */
}

.searchbar {
    color: white;
    border: 2px solid rgb(40, 39, 39);
    background-color: rgb(40, 39, 39);
    border-radius: 30px;
    height: 60px;
    width: fit-content;

}

.home {
    background-color: rgb(40, 39, 39);

}

.profile-icon-div {
    gap: 10px;
}

.profile-icon-div1 {
    gap: 10px;
}

.profile-icon-div2 {
    gap: 60px;
}

.profile-icon-div1 .explorebtn {
    font-weight: bolder;
    padding: 6px 10px;
    border-radius: 25px;
    border: none;
}

.profile-icon-div1 .installapp {
    gap: 4px;
}

.profile-icon-div1 a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #b3b3b3;
    font-size: medium;
}

.friends,
.alert {
    background-color: transparent;
    border: none;
    margin: 5px;
}

.profile-icon {
    background-color: rgb(40, 39, 39);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-icon span {
    background-color: rgb(104, 68, 2);
    font-weight: bolder;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.home {
    color: white;
}


.left {
    color: white;
}

.left {
    border-radius: 5px;
    background: linear-gradient(180deg, #00f1fe6b, rgba(255, 255, 255, 0.085), rgba(255, 255, 255, 0.085), rgba(255, 255, 255, 0.085));
}

.library_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.library_head .your-library,
.library_head .create,
.library_head span {
    padding: 5px;
    margin: 2px;
}

.library_head .create span {

    background-color: transparent;
}

.library_head .create {
    align-self: center;
    background-color: rgba(255, 255, 255, 0.132);
    border: none;
    border-radius: 20px;
}

.library_head .max {
    background-color: rgba(255, 255, 255, 0.132);
    align-self: center;
    border-radius: 50%;
}

.library_head2 {
    position: relative;
    margin: 1px 8px;
    overflow-x: auto;
    gap: 8px;
}

.library_head3 {
    margin: 0px 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.library_head3 .recents {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #b3b3b3;
}

.library_head2-btn {

    padding: 5px 10px;
    border: none;
    position: relative;
    z-index: 2;
    border-radius: 20px;
    background-color: #535353;
    color: white;
    flex-shrink: 0;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;

}

.library_head2::-webkit-scrollbar {
    display: none;
}

.genre {
    padding: 20px 20px 20px 0px;
}

.genre-btn {
    padding: 5px 10px;
    border: none;
    position: relative;
    z-index: 2;
    border-radius: 20px;
    background-color: #535353;
    color: white;
    flex-shrink: 0;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
}

.recently-played {
    display: flex;
    gap: 10px;
}

.recently-played-card img {
    object-fit: cover;
    object-position: center;
    width: 50px;
    height: 50px;
}

.recently-played-card {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    background-color: #6a6a6a7f;
    border-radius: 5px;
}

.recently-played-card h4 {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.recommended {
    display: flex;
    margin: 10px;
}

.picked-for-you {
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.picked-for-you-card {
    display: flex;
    gap: 10px;
}

.picked-for-you-card-details h4 {
    color: rgba(255, 255, 255, 0.426);
}

.picked-for-you-card-details h1 {
    width: 200px;
    height: 50px;  
    white-space: nowrap;          
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* rgba(255, 255, 255, 0.132) */
.picked-for-you-card img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.picked-for-you h1 {
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.made-for-you{
    display: flex;
    flex-direction: column;
}
.made-for-you-name{
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}
.made-for-you-card{
    /* width: ; */
}
.made-for-you-card img{
    object-fit: cover;
    object-position: center;
    width: 200px;
    height: 200px;
    
}