*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* overflow-x: hidden; */
}
body{
    background-color: black;
}

.left{
    width: 24vw;
}
.right{
    width: 74vw;
}
.navbar{
    grid-column: 1/3;
    justify-content: space-between;
    padding: 5px 10px;
}
.btn{
    width: 50px;
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-color: rgb(40, 39, 39);
}
.searchbar input{
    padding: 2px 65px 2px 2px ;
    color: white;
    background-color: transparent;
    border: none;
    min-width: 250px;
}
.searchbar input:focus{
    outline: none;
}
.searchbar input::placeholder {
  color: #b3b3b3;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
}
.search{
    gap: 7px;
    /* margin-left: 190px; */
}
.searchbar{
    color: white;
    border: 2px solid rgb(40, 39, 39);
    background-color: rgb(40, 39, 39);
    border-radius: 30px;

}
.home{
    background-color: rgb(40, 39, 39);

}

.profile-icon-div{
 gap: 10px;
}
.profile-icon-div1{
 gap: 10px;
}
.profile-icon-div2{
 gap: 60px;
}
.profile-icon-div1 .explorebtn{
    font-weight: bolder;
    padding: 6px 10px;
    border-radius:25px;
    border: none;
}
.profile-icon-div1 .installapp{
    gap: 4px;
}
.profile-icon-div1 a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #b3b3b3;
    font-size: medium;
}
.friends, .alert{
    background-color: transparent;
    border: none;
    margin: 5px;
}
.profile-icon{
    background-color: rgb(40, 39, 39);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.profile-icon span{
    background-color: rgb(104, 68, 2);
    font-weight: bolder;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
}
