.border{
    margin:3px;
    border: 2px solid red;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 10fr;
}
.scale{
    transform: scale(2px);
}

